@import './base.css';

a,
.green {
  text-decoration: underline;
  cursor: pointer;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  font-weight: bold;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

}

ul.inline-list {
  list-style-type: none;
}

ul.inline-list li {
  display: inline-block;
  margin-right: 10px;
}
